body {
  padding: 0;
  margin: 0;
  /* background: #d39c5c url(images/cork-bg.png); */
  background-color: #E2D3D3;
  color: #E42C2C;
}

.main_wrapper {
  margin: 4px;
  padding: 4px;
}

.form_div {
  margin: 2px;
}

.numInput {
  width: 50px;
}

.cell1 {
  background-color: #bfd2e6;
}

.cell2 {
  background-color: #bed4ca;
}

/* STANDARD */
/*button:hover, .buttons a:hover{
  background-color:#dff4ff;
  border:1px solid #c2e1ef;
  color:#336699;
}
*/

.buttons a:active{
  background-color:#6299c5;
  border:1px solid #6299c5;
  color:#fff;
}

/* POSITIVE */
button.positive, .buttons a.positive{
  color:#529214;
}

/* 
.buttons a.positive:hover, button.positive:hover{
  background-color:#E6EFC2;
  border:1px solid #C6D880;
  color:#529214;
}
 */
.buttons a.positive:active{
  background-color:#529214;
  border:1px solid #529214;
  color:#fff;
}/* NEGATIVE */.buttons a.negative, button.negative{
  color:#d12f19;
}

.buttons a.negative:hover, button.negative:hover{
  background:#fbe3e4;
  border:1px solid #fbc2c4;
  color:#d12f19;
}

.buttons a.negative:active{
  background-color:#d12f19;
  border:1px solid #d12f19;
  color:#fff;
}

#wrapper {
  background: url(images/corkboard-top-bg.png) no-repeat center top;
  width: 100%;
  display: table;
}
#content {
  width: 916px;
  margin: 159px auto 0;
  background: #fff;
  border: solid 1px #ccc;
  padding: 20px;
}

h1 {
  margin: 0;
  padding: 0;
}